<!doctype HTML>
<html>
  <head>
    <title>Adventure!</title>
  </head>
  
  <body>
    <h1> </h1>Adventure<br>
    <h2> </h2><br>
    <br>
    <br>
    
      <ul>
        <li>My Side of the Mountain by Jean Craighead George</li>
        <!-- link to page with description of book ¿and more books by that author? -->
        <!-- pic of book cover -->
        <li>The Da Vinci Code by Dan Brown</li>
        <!-- pic of book cover -->
        <li>Around the World in Eighty Days by Jules Verne</li>
        <!-- pic of book cover -->
        <li>Hatchet by Gary Paulsen</li>
        <!-- pic of book cover -->
        <li>Holes by Louis Sachar</li>
        <!-- pic of book cover -->
        <li>Into the Wild by Jon Krakauer</li>
        <!-- pic of book cover -->
      </ul>
    
  </body>
    
</html>