<!doctype HTML>
<html>
  <head>
    <title>Classics</title>
  </head>
  
  <body>
    <h1> </h1>Classics<br>
    <h2> </h2><br>
    <br>
    <br>
    
      <ul>
        <li>A Tree Grows in Brooklyn by Betty Smith</li>
        <li>Island of the Blue Dolphins by Scott O'Dell</li>
        <li>Pride and Prejudice by Jane Austin</li>
        <li>Emma by Jane Austin</li>
        <li>Wuthering Heights yb Emily Bronte</li>
        <li>The Adventures of Huckleberry Finn by Mark Twain</li>
        <li>Tom Sawyer by Mark Twain</li>
        <li>Of Mice and Men by John Steinbeck</li>
        <li>Animal Farm by George Orwell</li>
        <li>To Kill a Mockingbird by Harper Lee</li>
        <li>A Portrait of a Lady by Henry James</li>
        <li>Lord of the Flies by William Golding</li>
      </ul>
    
  </body>
    
</html>