<!doctype HTML>
<html>
  <head>
    <title>Fantasy</title>
  </head>
  
  <body>
    <h1> </h1>Fantasy<br>
    <br>
    <br>
    
      <ul>
        <li>Harry Potter by JK Rowling</li>
        <li>Lord of the Rings by JRR Tolkien</li>
        <li>The Hobbit by JRR Tolkien</li>
        <li>Percy Jackson and the Olympians series by Rick Riordan</li>
        <li>Miss Peregrine’s Home for Peculiar Children by Ransom Riggs</li>
        <li>The Lunar Chronicles by Marissa Meyer</li>
        <li>The Secret Series by Pseudonymous Bosch</li>
        <li>The Starcatchers Series by Dave Barry and Ridley Pearson</li>
        <li>Seraphina by Rachel Hartman</li>
        <li>Savvy Series by Ingrid Law</li>
        <li>The Scorpio Races by Maggie Stiefvater</li>
        <li>Graceling Series by Kristin Cashore</li>
      </ul>
    
  </body>
    
</html>