<!doctype HTML>
<html>
  <head>
    <title>Historial Fiction</title>
  </head>
  
  <body>
    <h1> </h1>Historical Fiction<br>
    <br>
    <br>
    
      <ul>
        <li>Ragtime by E.L. Doctorow</li>
        <li>The Book Thief by Markus Zusak</li>
        <li>Sadako and the Thousand Paper Cranes  by Sadako and the Thousand Paper Cranes</li>
        <li>The Snow Child by Eowyn Ivey</li>
        <li>The Light Between Oceans by M.L. Stedman</li>
        <li>The Secret Keeper by Kate Morton</li>
        <li>The Shoemaker's Wife by Adriana Trigiani</li>
        <li>The Flight of Gemma Hardy by Margot Livesey</li>
        <li>The Gods of Gotham (Timothy Wilde Mysteries, #1) by Lyndsay Faye</li>
        <li>The Healing by Jonathan Odell</li>
        <li>The Second Empress: A Novel of Napoleon's Court by Michelle Moran</li>
        <li></li>
      </ul>
    
  </body>
    
</html>
