<!doctype HTML>
<html>
  <head>
    <title>Find a book</title>
  </head>
  
  <body>
    <h1>Welcome to book finder</h1><br>
    <h2>Pick a genre and start reading!</h2><br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
      <ul>
        <li><a href="/fantasy">fantasy</a></li>
        <li><a href="/scifi">Science Fiction</a></li>
        <li><a href="/dystopian">Dystopian</a></li>
        <li><a href="/mystery">Mystery</a></li>
        <li><a href="/realistic">Realistic Fiction</a></li>
        <li><a href="/classics">Classics</a></li>
        <li><a href="/historical">Historical Fiction</a></li>
        <li><a href="/adventure">Adventure</a></li>
        <li><a href="/memoir">Memoirs/Autobiographies/Autobiographical Fiction</a></li>
      </ul>
  </body>
    
</html>