<!doctype HTML>
<html>
  <head>
    <title>Memoirs, Autobiographies, and Autobiographical Fiction</title>
  </head>
  
  <body>
    <h1>Memoirs, Autobiographies, and Autobiographical Fiction</h1><br>
    <br>
    <br>
    
      <ul>
        <li>The Bell Jar by Sylvia Plath</li>
        <li>Glass Castle by Jeannette Walls</li>
        <li>Fun Home by Alison Bechdel</li>
        <li>Black Boy by Richard Wright</li>
        <li>The Color of Water by James McBride</li>
        <li>The Absolutely True Diary of a Part Time Indian by Sherman Alexie</li>
        <li>Red Scarf Girl by Ji-li Jiang</li>
        <li>Dewey by Vicki Myron and Bret Witter</li>
      </ul>
    
  </body>
    
</html>