<form action="/results" method="post">
  What's your favorite activity?
  <br>
  <input type="radio" name="activity" value="adventure">Skydiving
  <input type="radio" name="activity" value="classics">Tea Party
  <input type="radio" name="activity" value="classics">Tea Party
  <br>
  If you had a time machine, where would you go?
  <br>
  <input type="radio" name="time_travel" value="dystopianscifi">Future
  <input type="radio" name="time_travel" value="historical">Past
  <br>
  <input type="submit">
  
  
  
</form>