<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <form action="/results" method="post">
  
  What's your favorite activity?
  <br>
  <input type="radio" name="activity" value="adventure">Skydiving
  <input type="radio" name="activity" value="classics">Tea Party
  <input type="radio" name="activity" value="fantasy">Riding Unicorns
  <input type="radio" name="activity" value="historical">Visiting Monuments
  <input type="radio" name="activity" value="memoirs">Visiting Museums about People
  <input type="radio" name="activity" value="mystery">Shadowing a Detective for the Day
  <input type="radio" name="activity" value="realistic">Lazing away with Netflix
  <input type="radio" name="activity" value="dystopianscifi">Working on a cool invention
  <br>
  
  If you had a time machine, where would you go?
  <br>
  <input type="radio" name="time_travel" value="dystopianscifi">Far Future
  <input type="radio" name="time_travel" value="historical">Far Past
  <input type="radio" name="time_travel" value="memoir">Your Past
  <input type="radio" name="time_travel" value="mystery">Sherlock Holmes Time Period
  <input type="radio" name="time_travel" value="adventure">A time when you can ride around on horses and carry swords
  <input type="radio" name="time_travel" value="classic">The eighteen hundreds
  <input type="radio" name="time_travel" value="realistic">Nowhere, you like where you are right now
  <input type="radio" name="time_travel" value="fantasy">When JRR Tolkien was alive
  <br>
 
  Which magazine would you read right now?
  <br>
  <input type="radio" name="magazine" value="adventure"><img src="images/adventure-magazine.jpg">
  <input type="radio" name="magazine" value="classics"><img src="images/classics-magazine.jpg">
  <input type="radio" name="magazine" value="dystopianscifi"><img src="images/dystopiascifi-magazine.jpeg">
  <input type="radio" name="magazine" value="fantasy"><img src="images/fantasy-magazine.jpg">
    <br>
  <input type="radio" name="magazine" value="historical"><img src="images/history-magazine.jpg">
  <input type="radio" name="magazine" value="memoir"><img src="images/memoir-magazine.jpg">
  <input type="radio" name="magazine" value="mystery"><img src="images/mystery-magazine.JPG">
  <input type="radio" name="magazine" value="realistic"><img src="images/realistic-magazine.jpg">
  <br>

  What is your preferred pet or companion?
  <br>
  <input type="radio" name="petcompanion" value="classics">Horse
  <input type="radio" name="petcompanion" value="adventure">Tiger
  <input type="radio" name="petcompanion" value="historical">Dodo
  <input type="radio" name="petcompanion" value="fantasy">Dragon
  <input type="radio" name="petcompanion" value="mystery">Shadow
  <input type="radio" name="petcompanion" value="memoir">Albert Einstein
  <input type="radio" name="petcompanion" value="realistic">Your best friend
  <br>
  
  What is your dream job?
  <br>
  <input type="radio" name="job" value="realistic">Working for Google
  <input type="radio" name="job" value="mystery">Detective
  <input type="radio" name="job" value="memoir">Journalist
  <input type="radio" name="job" value="histrical">Museum Curator
  <input type="radio" name="job" value="fantasy">A wizard
  <input type="radio" name="job" value="distopianscfi">Dictator
  <input type="radio" name="job" value="classics">Lady in waiting
  <input type="radio" name="job" value="adventure">Knight
  <br>
  
  <input type="submit">
  
</form>
</body>
<html>