<!doctype HTML>
<html>
  <head>
    <title>Realistic!</title>
  </head>
  
  <body>
    <h1>Realistic Books</h1><br>
    <br>
    <br>
    
      <ul>
        <li>It’s Kind of a Funny Story by Ned Vizzini</li>
        <!-- pic of book cover -->
        <li>The Absolutely True Diary of a Part Time Indian by Sherman Alexie</li>
        <!-- pic of book cover -->
        <li>The Perks of Being a Wallflower by Stephen Chbosky</li>
        <!-- pic of book cover -->
        <li>The Catcher in the Rye by J.D Salinger</li>
        <!-- pic of book cover -->
        <li>Looking for Alaska by John Green</li>
        <!-- pic of book cover -->
        <li>Speak by Laurie Halse Anderson</li>
        <!-- pic of book cover -->
        <li>I’ll Give You the Sun by Jandy Nelson</li>
        <!-- pic of book cover -->
        <li>Bloomability by Sharon Creech</li>
        <!-- pic of book cover -->
        <li>Walk Two Moons by Sharon Creech</li>
        <!-- pic of book cover -->
        <li>Ruby Holler by Sharon Creech</li>
        <!-- pic of book cover -->
        <li>The Unfinished Angel by Sharon Creech</li>
        <!-- pic of book cover -->
        <li>Replay by Sharon Creech</li>
        <!-- pic of book cover -->
        <li>Crank by Ellen Hopkins</li>
        <!-- pic of book cover -->
        <li>The Secret Garden by Frances Hodgson Burnett</li>
        <!-- pic of book cover -->
        <li>A Little Princess by Frances Hodgson Burnett</li>
        <!-- pic of book cover -->
        <li>Paper Towns by John Green</li>
        <!-- pic of book cover -->
        <li>A Mango Shaped Space by Wendy Mass</li>
        <!-- pic of book cover -->
      </ul>
    
  </body>
    
</html>