<!doctype HTML>
<html>
  <head>
    <title>Sci-fi</title>
  </head>
  
  <body>
    <h1>Sci-fi</h1><br>
    <br>
    <br>
    
      <ul>
        <li>Dune series by Frank Herbert</li>
        <li>The Hitchhiker’s Guide to the Galaxy by Douglas Adams</li>
        <li>2001: A Space Odyssey by Arthur C. Clarke</li>
        <li>The Tripods</li>
      </ul>
    
  </body>
    
</html>